# Ignore image thumbnail files created by windows
Thumbs.db
# Ignore Finder view option files created by OS X
.DS_Store
# Ignore files output by build
/[Bb]in/
/[Bb]uild/
# Visual Studio files
.vs
*.vcxproj.user
